fontconfig
gcc
g++
libcups2-dev
libffi-dev
libgeoip-dev
libjpeg-turbo8
libldap2-dev
libpq-dev
libsasl2-dev
libtiff5-dev
libssl-dev
libxml2-dev
libxslt1-dev
node-less
python
python-all-dev
python-dev
python-pip
unixodbc-dev
