build-essential
git
antiword
curl
fontconfig
gfortran
libatlas-base-dev
libcups2-dev
libevent-dev
libffi-dev
libfreetype6-dev
libgeoip-dev
libjpeg8-dev
liblcms2-dev
libldap2-dev
libpq-dev
libsasl2-dev
libtiff5-dev
libssl-dev
libwebp-dev
libxml2
libxml2-dev
libxmlsec1-dev
libxslt1-dev
p7zip-full
poppler-utils
python-all-dev
python-dev
python-libxml2
python-numpy
python-pip
python-reportlab
python-scipy
python-setuptools
python-software-properties
python-tk
tcl8.5-dev
tk8.5-dev
unixodbc-dev
xvfb
zlib1g-dev
